<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="conteiner">
    <div class="body_content">
        <%= form.label :Titulo, class: "title-content" %>
        <%= form.text_field :title, placeholder: "Digite o título do livro", class: "label-content" %>

        <%= form.label :Descrição, class: "title-content" %>
        <%= form.text_field :description, placeholder: "Faça uma breve descrição do livro", class: "label-content" %>

        <%= form.label :ano, class: "title-content" %>
        <%= form.text_field :year, placeholder: "Digite o ano do livro", class: "label-content" %>
          
    </div>
    <div class="button-create">
        <%= form.submit %>
      </div>
  </div>
  <% end %>

