<p style="color: green"><%= notice %></p>
<header>
 <h1>Livros cadastrados</h1>
</header>

<%= render partial: "book", locals: { book: @book, isShowing: true } %>

<div class="show-buttons-container">
    <%= link_to "Editar livro", edit_book_path(@book), class: "button-edit"  %>

    <%= link_to "Voltar para o catálogo", books_path, class: "button-back" %>

    <%= button_to "Excluir livro", @book, method: :delete, class: "button-destroy" %>
</div>

