<p style="color: green"><%= notice %></p>
<header>
 <h1>Livros cadastrados</h1>
</header>

<%= render @book %>

    <%= link_to "Editar livro", edit_book_path(@book), class: "button-edit"  %> |

    <%= link_to "catálagos livro", books_path, class: "button-back" %>

    <%= button_to "Excluir livros", @book, method: :delete, class: "button-destroy" %>
